h1,h2,h3 {
    font-family: 'Frank Ruhl Libre', serif;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
}

p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5rem;
}

a {
    font-family: 'Fira Sans', sans-serif;
}
body {
    display: grid;
    justify-items: center;
    background: #E5E5E5;
}

.wrapper {
    display: grid;
    width: 1000;
    margin: 0 10rem;
}

/* header */

.blue-box {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 60vh;
    background: #C7DDEA;
}

.blue-box h1 {
    display: grid;
    grid-column: 3 / 5;
    grid-row: 3 / 4;
}

.blue-box img {
    display: grid;
    grid-column: 5 / 7;
    grid-row: span 6;
    align-self: end;
    justify-self: start;
    width: 80%;

}

/* Meny */
section:nth-child(2) {
    padding: 0 10%;
    background: white;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-self: center;
    height: 3rem;
}

nav a {
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #000000;
    opacity: 0.4;
    text-decoration: none;
}
/* contact section */
.contact {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background: #A9A19E;
    height: 80vh;
}

.contact .h1 {
    display: grid;
    grid-column: 1 / span 2;
    grid-row: 3 /5;
    color: white;
    margin: 0;
    margin-left: 5rem;
}

.contact .form {
    display: grid;
    grid-column: 4 / 6;
    grid-row: 3 / span 5;
}

.contact label {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: white;
    opacity: 0.7;
}

input {
    margin-bottom: 1rem;
    border-radius: 2px;
    height: 2rem;
    border: 0px;
}

textarea {
    border-radius: 2px;
    height: 8rem;
    border: 0px;
}

button {
	background: white;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    padding: 8px 12px;
    display: flex;
    align-self: flex-start;
    justify-self: flex-end;
    margin-top: 1.5rem;
}

