/* css variables - shortcut to color-palette */
:root {
    --red: #F17949;;
    --yellow: #FAB131;;
    --grey: #A9A19E;
    --light: #EBEBEB;
    --blue: #C7DDEA;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1,h2,h3 {
    font-family: 'Frank Ruhl Libre', serif;
}

h1 {
    font-size: 2.5rem;
}

p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 0.7rem;
    line-height: 1.5rem;
}

a {
    font-family: 'Fira Sans', sans-serif;
}

body {
    max-width: 100vw;
    background: #e5e5e5;
    display: flex;
    justify-content: center;
}

.wrapper {
    display: grid;
    max-width: 80%;
}

img {
    width: 50%;
}
button {
	background-color: var(--light);
    border-radius: 20px;
    display: inline-block;
	color: var(--grey);
	padding: 1rem 2rem;
    text-decoration: none;
    border: none;
}

.header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "showcase learn"
        "showcase join"
}

.header-item1 {
    grid-area: showcase;
    background: var(--blue);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-item1 div {
    width: 60%;
    display: flex;
    flex-direction: column;
    overflow: visible;
    padding-top: 2.5rem;
}

.header-item1 p {
    width: 80%;
}
.header-item1 div button {
    align-self: flex-start;
    margin-top: 1rem;
}

.header-item1 img {
    align-self: flex-end;
    justify-self: flex-end;

}

.header-item2 {
    grid-area: learn;
    background: var(--red);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-item3 {
    grid-area: join;
    background: var(--yellow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Meny */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 3rem;
}

nav a {
    text-decoration: none;
    color: var(--grey);
}

/* Main Box 1 */
.box1 {
    background: var(--grey);
}
.box1 article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15rem;
    padding-bottom: 2.5rem;
}

.box1 article div {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    align-items: center;
    width: 60%;
    padding-top: 2.5rem;
}
.box1 article p {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    align-items: center;
    width: 60%;
    padding-top: 2.5rem;
}

.box1 button {
    align-self: flex-start;
    margin-top: 2.5rem;

}
.box1 section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box1 section h3 {
    align-self: center;
}

.box1 section article {
    background: #ffffff;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-radius: 5px 5px 0 0;
}

.box1 section article div {
    width: 95%;
    border-radius: 5px;
}

#blue {
    background: var(--blue);
}

#blue img {
    width: 5rem;
    height: 8rem;

    object-fit: cover;
    object-position: 100% 0;
}

#yellow {
    background: var(--yellow);
}

#yellow img {
    width: 5.5rem;
    height: 8rem;

    object-fit: cover;
    object-position: 100% 0;
}

#red {
    background: var(--red);
}

#red img {
    width: 9rem;
    height: 8rem;

    object-fit: cover;
    object-position: 100% 0;
}



/* Main Box 2 */
.box2 {
    background: var(--yellow);
}

.box2 section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box2 section article {
    background: #ffffff;
    width: 25%;
}

.container-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.boxes {
    grid-column: span 1;
    background: white;
    height: 12rem;
    display: flex;
    flex-direction: column;
}

.boxes:nth-child(1) {
    background: var(--blue);
}
.boxes:nth-child(3) {
    background: var(--light);
}
.boxes:nth-child(5) {
    background: var(--red);
}

.boxes h2 {
    color: darkgrey;
    align-self: flex-start;
    justify-self: flex-start;
    margin-left: 0;
}

.boxes p {
    color: rgb(54, 54, 54);
    margin: auto 0;
    text-align: center;
}
.boxes h1 {
    display: flex;
    align-self: center;
    text-align: center;

}

#up {
    background: darkgrey;
    display: block;
    text-align: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    padding: 1rem 0;
}

.box2 article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
}
.box2 article h1 {
    color: white;
    padding: 2rem 0;
}

.box2 article p {
    color: rgba(0, 0, 0, 0.7);
    width: 50%;
    text-align: center;
}




